[user]
	name = Jaakko Paju
	email = 36770267+JPaju@users.noreply.github.com
[core]
	hooksPath = ~/.config/git/hooks/
[init]
	defaultBranch = main
[fetch]
	prune = true
[pull]
	rebase = true
[push]
	default = current
	autoSetupRemote = true
[rebase]
	autoStash = true
[alias]
	localprune = !git fetch --prune && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -r git branch -D

[includeIf "gitdir:~/work/"]
	path = ~/.gitconfig-work

[core]
	pager = delta
[interactive]
	diffFilter = "delta --color-only"
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[delta]
	features = decorations
	line-numbers = true

