// If you'd like to override the default keybindings completely, be sure to change "keybinds" to "keybinds clear-defaults=true"
keybinds {
    unbind "Alt Left" "Alt Right" // Enable word jumping in terminal by removing conflicting keybinds
    unbind "Alt [" "Alt ]" 

    shared_except "locked" {
        bind "Ctrl g" { SwitchToMode "Locked"; }
        bind "Ctrl q" { Quit; }
        bind "Alt n" { NewPane; }
        bind "Alt i" { MoveTab "Left"; }
        bind "Alt o" { MoveTab "Right"; }
        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt l" { MoveFocus "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
        bind "Alt =" "Alt +" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
        bind "Alt Up" { PreviousSwapLayout; }
        bind "Alt Down" { NextSwapLayout; }
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
    session-manager { path "session-manager"; }
}

default_shell "fish"

mouse_mode true

copy_on_select true

theme "catppuccin-macchiato"

pane_frames false

ui {
    pane_frames {
        rounded_corners true
    }
}

// To include the default config here, just paste the output of running 'zellij setup --dump-config'
